  {% include 'header.twig' %}
  {{nav}}
  <div class="container">
  <div class="row">
  <div class="col-md-8">
          <div class="blog-post">
            <h2 class="featurette-heading blog-post-title">{{post.title}}</h2>
            <div class="social-sharing">
              <div class="fb-share-button" data-href="{{post.permalink}}" data-layout="button_count"></div>
<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-counter="right"></script>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
            </div>
            <p class="blog-post-meta">{{post.post_date|time_ago}} by <a href="#">{{post.author}}</a></p>
      {% if post.get_field('featured_image') %}

        <img src="{{TimberImage(post.get_field('featured_image')).src}}" class="img-responsive"/>
      {% endif %}
          {{post.content}}
          </div><!-- /.blog-post -->
  </div>
  <div class="col-md-4 page-sidebar">
    {% if home_sidebar_widgets %}
    {{home_sidebar_widgets}}
    {% endif %}
  </div>
  </div>
  </div>
  {% include 'social-footer.twig' with {'footer_widgets': footer_widgets} %}  
  {% include 'donate.twig' with {'donate': donate} %} 
  {% include 'jsfooter.twig' %}
 